  .header__title{
    background-color: #f985c2;
    color: black;
    text-align: center;
    padding: 15px;
    margin: 20px;
    font-size: 22px;
    font-weight: bold;
  }

  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-top: 30px;
  }

  .card__title{
    background-color: black;
    color: white;
    width: 200px;
    height: 400px;
    border-radius: 20px;
    text-align: center;
    padding: 10px;
    
  }

.card__desc{
    width: 150px;
    height: 250px;
    border: solid white 2px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    text-align: left;
}